body {
    background-color:white;

}
strong {
    color: #007BFF;
}
.container {
    width: 1000px;
    position: relative;
}

.container .cartao {
    position: relative;
}

.container .cartao .face {
    width:300px;
    transition: 0.5s;
}

.container .cartao .face.face1 {
    position:relative;
    background: #007BFF;
    display:flex;
    justify-content: center;
    align-items:center;
    z-index: 1;
    height: 220px;
    transform: translateY(100px);
}

#nomeMembro {
    color: white;
}
.container .cartao .face.face1 .content img{
    object-fit: contain;
    width: 230px;
    height: 170px;
}
.container .cartao:hover .face.face1 {
    transform: translateY(0);
}
.container .cartao .face.face2 {
    position: relative;
    background: #fff;
    justify-content: center;
    align-items:center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}
.container .cartao:hover .face.face2{
    transform: translateY(0)
}
.container .cartao .face.face2 .content p {
    margin: 0;
    padding:0;
}
.container .cartao .face.face2 .content a {
    margin: 1px 0 0;
    display:inline-block;
    text-decoration: none;
    font-weight: 900;
    color:#007BFF;
    padding: 5px;
    border: 1px solid #007BFF;
    margin-top: 15px;
}
.container .cartao .face.face2 .content a:hover {
    background: #007BFF;
    color:white;
}
